
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.presentation-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #6e5454;
}

.text-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-image: url('C:\Users\ghandour\OneDrive\Desktop\frontend-atelier\public\images\presntation.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start; /* Déplacer le contenu en haut */
  align-items: flex-start; /* Déplacer le contenu à gauche */
}

.paragraph-background {
  font-size: 20px;
  font-family: 'Pacifico';
  width: 30%;
  height: 50%;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 18%;
}


.rectangle-list {
  /* background-image: url('C:\Users\ghandour\OneDrive\Desktop\frontend-atelier\public\images\bg2.jpg'); */


  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.list-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.rectangle-item {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 20%;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  align-items: flex-start;
  justify-content: center;
}

.rectangle-list p {
  font-family: "Pacifico";
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.rectangle-list h4 {
  margin-top: 0.5rem;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
}
.rectangle-1 {
  background-color: #fccfcf;
}

.rec1-p {
  color: #fd7f7f;
}
.rectangle-2 {
  background-color: #f5dfa6;
}
.rec2-p {
 color: #fdd05d;
}
.rectangle-3 {
  background-color: #c3d8e7;
}

.rec3-p {
  color: #46b0fc;
}


.rectangle-4 {
  background-color: #cff8d6;
}

.rec4-p {
 color: #62ff7d;
}

